<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BrowserStack Suite">
    <test name="Cross-Browser Testing">
        <parameter name="browser" value="Chrome"/>
        <parameter name="os" value="Windows"/>
        <parameter name="resolution" value="1920x1080"/>
        <classes>
            <class name="com.example.TwistedMountainAnimation.Tests.BrowserStackTest"/>
        </classes>
    </test>

<!--    <test name="Edge Testing">
        <parameter name="browser" value="Edge"/>
        <parameter name="os" value="Windows"/>
        <parameter name="resolution" value="1366x768"/>
        <classes>
            <class name="com.example.TwistedMountainAnimation.Tests.BrowserStackTest"/>
        </classes>
    </test>-->
    
      <test name="HomePageTest">
        <parameter name="browser" value="Chrome"/>
        <parameter name="os" value="Windows"/>
        <parameter name="resolution" value="1920x1080"/>
        <classes>
            <class name="com.example.TwistedMountainAnimation.Tests.HomePageTest"/>
        </classes>
    </test>
</suite>